p{
  font-weight: lighter;
  margin: 30px auto 50px;
  font-size: x-large;
}

a{
  color: rgb(177, 8, 255);
  text-decoration: none;
  text-transform: uppercase;
}

.JODC_logo {
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px auto;
  width: 80%;
  height: 100%;
}

input[type="text"]{
  display: inline-block;
  width: 600px;
  height: 40px;
  font-size: large;
  font-weight: lighter;
  box-sizing: border-box;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px auto 30px;
  padding-left: 20px;
  transition: all 0.1s ease-out;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  input[type="text"]{
    width: 300px;
  }
}