html {
  height: 100%;
}

body {
  margin: 0;
  color: #eee;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000000;
  background-image: linear-gradient(0deg, #000000 0%, #414141 );
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}